.patientinfo-container {
  width: 370px;
  height: 179px;
  border-width: 2px;
  border-style: solid;
  border-radius: 14px;
  border-color: #04387c;
  background-color: white;
  padding: 14px 32px;

  color: black;
  font-family: "Kumbh" sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.powrot {
  font-family: "Inter" sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: black;
}
