.landing-container h1 {
  color: black;
  font-size: 60px;
  font-family: "Koulen", sans-serif;
  text-align: center;
  display: flex;
}

.landing-buttons-container {
  box-sizing: border-box;
  background-color: white;
  border-bottom: 3px solid #04387c;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
  align-items: center;
  z-index: 1;
  padding: 24px;
}

.landing-buttons-container button {
  padding: 9.5px 20.5px;
  font-size: 24px;
}

.landing-container {
  background-color: white;
  margin-top: 37px;
  border-radius: 10px;
  border: 4px solid #04387c;
  max-width: 886px;
  height: 582px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  line-height: 1;
  margin-top: 200px;
}

.landing-container p {
  color: black;
  font-size: 34px;
  margin-left: 95px;
  margin-right: 95px;
  font-family: "Kumbh Sans", sans-serif;

  text-align: center;
}

.landing-container .photo1 {
  position: absolute;
  top: 110px;
  right: 11.5px;
}

.landing-container .photo2 {
  position: absolute;
  left: 20px;
  bottom: 34.64px;
}

@media (max-width: 1024px) {
  .landing-container {
    width: unset;
    height: unset;
  }

  .landing-container img {
    display: none;
  }
}
